<div class="card">
    <div class="card-title">{{ upper .Section }}</div>
    <div class="card-content">
        <div id="menu-tree">
            {{ with .Site.GetPage "section" .Section }}
                {{ template "file-tree" (dict "Section" . "CurrentPage" $) }}
            {{ end }}
            
            {{ define "file-tree" }}
                <ul class="menu-tree">
                {{ range .Section.Pages.ByWeight}}
            
                    {{ if .IsSection }}
                        <li>
                            <a class="menu-tree-toggle">{{ .Title }}</a>
                            {{ template "file-tree" (dict "Section" . "CurrentPage" $.CurrentPage) }}
                        </li>
                    {{ else if .IsPage}}
                        <li >
                        {{ if eq .Title $.CurrentPage.Title }}
                            <a class="menu-tree-item active" href="{{ .Permalink }}">{{ .Title }}</a>
                        {{ else }}
                            <a class="menu-tree-item" href="{{ .Permalink }}">{{ .Title }}</a>
                        {{ end }}
                        </li>
                    {{ end}}
            
                {{ end }}
                </ul>
            {{ end }}
        </div>
    </div>
</div>