*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    cursor: pointer;
    transition: .5s;
    text-decoration: none;
    color: var(--body-ft);
    &:hover {
        color: var(--secondary);
    }
}
.active {
    color: var(--secondary);
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
}
