        article {
            border-radius: .375rem;
            border: 1px solid var(--body-bd);
            background-color: var(--white);

            padding: 1rem;

            .title {
                background-color: var(--stager-bg-light);
                text-align: center;
                font-size: 1.5rem;
                font-weight: bold;
                padding: 2rem 1rem 1rem;
            }
            .meta {
                background-color: var(--stager-bg-light);
                text-align: center;
                font-size: .875rem;
                padding: 0 1rem 2rem;
                span {
                    margin-right: 1rem;
                }
            }
            .content {
                margin: 2rem auto;
                max-width: 900px;
            }

        }



@media (min-width: $sm) {
    article {
        padding: 1.5rem;
    }
}

