/********************************************************
* CSS - Breadcrumb 
* Author: Homecat
* Email: 13050082@qq.com    Homepage: genway.com.cn
********************************************************/ 
.breadcrumb {
    font-size: .875rem;
    .breadcrumb-item {
       display: inline;
       &+.breadcrumb-item:before {
          content: "|";
          margin: 0 .75rem;
          font-size: .75rem;
       }
    }
 }