.card {
    .card-title {
        font-weight: bold;
        color: var(--primary-700);
        padding: 1rem .5rem 1rem;
    }
    .card-content {
        padding: 1rem;
        background-color: var(--primary-000);

        font-size: .875rem;

        .normal {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;

                padding: .125rem.5rem;
                margin: 1px 0;

            i {
                margin-right: .5rem;
            }

        }

    }

    a {
        color: var(--primary-600);
        &:hover {
            color: var(--white);
            background-color: var(--primary-400);
        }
    }

    .dumbbell {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        font-size: .875rem;

        padding: .125rem .5rem;
        margin: 1px 0;
        color: var(--primary-600);

        .dashed-line {
            flex: 1;
            border-top: 1px dashed var(--slate-600);
            margin: 0 1rem;
        }

        &:hover {
            .dashed-line {
                flex: 1;
                border-top: 1px dashed var(--white);
                margin: 0 1rem;
            }
        }
    }

}

#TableOfContents {
    ul {
        font-size: .875rem;
        list-style: none;
        li {
            a {
                display: block;
                padding: .125rem.5rem;
                margin: 1px 0;
            }

            ul {
                margin-left: 1rem;
            }
        }
    }
}