.card {
    .card-title {
        font-weight: bold;
        color: var(--slate-700);

        padding: 0 .5rem 1rem;

    }
    .card-content {
        font-size: .875rem;
    }

    a {
        color: var(--slate-600);
        &:hover {
            color: var(--white);
            background-color: var(--primary-400);
        }
    }

    .normal {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;

            padding: .125rem .5rem;
            margin: 1px 0;

        i {
            margin-right: .5rem;
        }
    }

    .follow {
        display: inline-block;
        padding: .125rem .5rem;
    }

    .dumbbell {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        font-size: .875rem;

        padding: .125rem .5rem;
        margin: 1px 0;

        .dashed-line {
            flex: 1;
            border-top: 1px dashed var(--slate-600);
            margin: 0 1rem;
        }

        &:hover {
            .dashed-line {
                flex: 1;
                border-top: 1px dashed var(--white);
                margin: 0 1rem;
            }
        }
    }

}

#TableOfContents {
    ul {
        font-size: .875rem;
        list-style: none;
        li {
            a {
                display: block;
                padding: .125rem.5rem;
                margin: 1px 0;
            }

            ul {
                margin-left: 1rem;
            }
        }
    }
}