article {

    .title {
        background-color: var(--slate-000);
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 2rem 1rem 1rem;
    }
    .meta {
        background-color: var(--slate-000);
        text-align: center;
        font-size: .875rem;
        padding: 0 1rem 2rem;
        span {
            margin-right: 1rem;
        }
    }
    .content {
        margin: 2rem auto;
        max-width: 900px;
    }

}




