.headline {
    .headline-img {
        width: 100vw;
        height: 100vw;
    }

    
    .headline-text {
        background-color: var(--primary-500);
        padding: 2rem 2rem 5rem;
        height: 100vw;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        a {
            font-size: 2rem;
            height: 2.6rem;
            overflow-y:hidden;
            text-overflow:ellipsis;
            
            color: var(--slate-300);
            transition: all .75s;
            &:hover {
                color: var(--white);
            }
        }
        p {
            max-width: 85%;
            margin-top: .5rem;
            color: var(--slate-300);
            font-size: 1rem;
            line-height: 1.5rem;
            text-align: left;

            overflow-y: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5;
            text-overflow: ellipsis;
        }
    }
}

.headline-list-container {
    padding: 1rem;
    display: flex;
    flex-flow: wrap;
    .headline-item-container {
        width: 100%;
        padding: 1rem;
        .headline-item {
            background-color: var(--white);
            .item-thumbnail {}
            .item-content {
                padding: 1rem;

                .content-title {
                    font-size: 1rem;
                    font-weight: bold;
                    color: var(--slate-800);
                    &:hover {
                        color: var(--primary-500);
                    }
                }
                .content-summary {
                    font-size: .875rem;
                    line-height: 1.25rem;
                    color: var(--slate-700);
                    height: 5rem;
                    margin: .5rem 0;
 
                    overflow-y: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 4;
                    text-overflow: ellipsis;
                }
            }

        }
    }
}


@media (min-width: $sm) {
    .headline {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: flex-start;
        .headline-img {
            width: 50%;
            max-height: 500px;
            height: auto
        }
        .headline-text {
            width: 50%;
            height: auto;
        }
    }

    .headline-list-container {
        .headline-item-container {
            width: 50%;
        }
    }
}


@media (min-width: $lg) {
    .headline {

    }
    .headline-list-container {

        .headline-item-container {

            width: 33.33%;
        }
    }
}

@media (min-width: $xl) {
    .headline-list-container {

        .headline-item-container {

            width: 25%;
        }
    }
}