.itemlist {
    display: flex;
    flex-flow: wrap;

    padding: .5rem;
    .item-container {
        width: 100%;

        padding: 1rem .5rem;

        .item {
            padding: 1rem 0;
            background-color: var(--slate-100);

            border-radius: .375rem;
            a {
                color: var(--slate-800);
                &:hover {
                    color: var(--primary-700);
                }
            }

            .item-title {
                font-size: 1rem;
                font-weight: bold;
        
                height: 1.5rem;
                overflow-y:hidden;
                text-overflow:ellipsis;

                padding: 0 1rem;
            }
            p {

                background-color: var(--slate-200);

                padding: .5rem 1rem;
                margin: .5rem 0;
                height: 6.875rem;
                font-size: .875rem;
                overflow-y:hidden;
                display:-webkit-box;
                -webkit-box-orient:vertical;
                -webkit-line-clamp:4;
                text-overflow:ellipsis;
            }
            .item-meta {
                font-size: .875rem;
                padding: 0 1rem;
                span {
                    margin-right: 1rem;
                    i {
                        margin-right: .25rem;
                        color: var(--primary-600);
                    }
                }
            }
        }
    }
}

@media (min-width: $lg) {
    .itemlist {
        padding: .75rem;
        .item-container {
            padding: .75rem;
        }
    }
}

@media (min-width: $xl) {
    .itemlist {
        .item-container {
            width: 50%;
        }
    }
}

@media (min-width: $xxxl) {
    .itemlist {
        .item-container {
            width: 33.33%;
        }
    }
}