.menu-social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    list-style: none;
    text-align: center;

    font-size: 1.125rem;
    .menu-item {
        display: inline-block;
        padding: 2rem .5rem;        
    }
}

@media (min-width: $sm) {
    .menu-social {
        display: inline;
        padding-left: 1rem;
        .menu-item {
            padding: 0 0 0 .5rem;        
        }
    }
}