.readmore {
    font-size: .875rem;
    padding: 1rem;


    h4 {
        margin-bottom: 1rem;
    }
    a {
        display: block;
        margin-bottom: .75rem;

    }

    span {
        margin-left: .5rem;
    }
}