.tag {
    font-size: .875rem;

    h4 {
        margin-bottom: .75rem;
    }
    a {
        display: inline-block;
        line-height: 1.25rem;
        margin-right: .5rem;

        border-radius: .25rem;
    }

    span {
        margin-left: .5rem;
    }
}
