{{ define "necker" }}

{{ end }}

{{ define "stager" }}
<div class="default">
    <main>
        <div class="item-container">
            {{ partial "breadcrumb.html" . }}
        </div>
    
        <div class="item-container">
            {{ partial "blog-list.html" . }}
        </div>
    </main>
    
    <aside>
        <div class="item-container">
            <div class="item-sub-container">
                {{ partial "card-category.html" . }}
            </div>
            
            <div class="item-sub-container">
                {{ partial "card-tag.html" . }}
            </div>
        </div>
    </aside>
</div>
{{ end }}


