{{ define "stager" }}
<div class="stager">
    <aside>
        <div class="container">
            {{ partial "menutree.html" . }}
        </div>
    </aside>
    <main>
        <div class="container">
            {{ partial "breadcrumb" . }}
        </div>
        <div class="container-single">
            <div class="inner-left">
                {{ partial "content" . }}
            </div>
            <div class="inner-right">
                {{ partial "toc" . }}
            </div>
        </div>
    </main>
</div>

<div class="toggles">
    <a class="aside-open"><i class="bi bi-layout-sidebar"></i></a>
    <a class="aside-close"><i class="bi bi-x"></i></a>
    <a href="#"><i class="bi bi-chevron-up"></i></a>
    <a href="#TableOfContents" class="totoc"><i class="bi bi-list-ul"></i></a>
</div>
{{ end }}