{{ define "necker" }}

{{ end }}

{{ define "stager" }}
<div class="default">
    <main>
        <div class="item-container">
            {{ partial "breadcrumb.html" . }}
        </div>
    
        <div class="item-container">
            {{ partial "blog-content.html" . }}
        </div>
    </main>
    
    <aside id="button">
        <div class="item-container">
            <div class="item-sub-container">
                {{ partial "card-toc.html" . }}
            </div>
        </div>
    </aside>
</div>

<div id="button-toggle">
    <a href="#button"><i class="bi bi-list-ul"></i></a>
</div>
{{ end }}

