<div class="itemlist">
    {{ range .Paginator.Pages }}
    <div class="item-container">
        <section class="item">
            <a href="{{.Permalink}}">
                <div class="item-title"><b>{{ .Title }}</b></div>
                {{ .Summary }}
            </a>
            <div class="item-meta">
                <span>
                    <i class="bi bi-calendar3"></i>
                    {{.Date.Format "Jan 2, 2006"}}
                </span>
                <span>
                    <i class="bi bi-person-circle"></i>
                    {{ .Params.author }}
                </span>
            </div>
        </section>
    </div>
    {{ end }}
</div>
