{{ define "stager" }}
<div class="stager">
    <aside>
        <div class="container">
            {{ partial "category.html" . }}
        </div>
    </aside>
    <main>
        <div class="container">
            {{ partial "breadcrumb" . }}
        </div>
        <div class="container-list">
            {{ partial "itemlist" . }}
        </div>
    </main>
</div>

<div class="toggles">
    <a class="aside-open"><i class="bi bi-layout-sidebar"></i></a>
    <a class="aside-close"><i class="bi bi-x"></i></a>
    <a href="#"><i class="bi bi-chevron-up"></i></a>
</div>
{{ end }}