html {
    height: 100%;
}

body {
    height: 100%;

    background-color: var(--body-bg);
    color: var(--body-ft);

    font-size: 16px;
    line-height: 1.5rem;
    font-family: $sans;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

#header {
    background-color: var(--header-bg);
    border-bottom: 1px solid var(--body-bd);

    height: 60px;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
}

#stager {
    background-color: var(--body-bg);
    flex: 1;
    padding-top: 60px;
}

#footer {
    background-color: var(--header-bg);
    color: var(--footer-ft);
    border-top: 1px solid var(--body-bd);
}