html {
    height: 100%;
}

body {
    background-color: var(--body-bg);
    color: var(--body-ft);
    line-height: 1.5rem;

    font-size: 16px;
    font-family: $sans;

    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

#header {
    background-color: var(--header-bg);
    border-bottom: 1px solid var(--body-bd);

    width: 100%;
    height: 60px;

    padding: 1rem;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
}

#stager {
    flex: 1;
    margin-top: 60px;

    aside {
        background-color: var(--stager-bg);
        position: fixed;
        top: 60px;
        left: -100vw;
        z-index: 10;

        width: 100vw;
        height: 100%;
    }

    main {
        background-color: var(--stager-bg-light);
    }

}

#footer {
    border-top: 1px solid var(--body-bd);
    background-color: var(--footer-bg);
    color: var(--footer-ft);
}

@media (min-width: $sm) {}
@media (min-width: $md) {}
@media (min-width: $lg) {
    #stager {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: flex-start;
    
        aside {
            position: relative;
            top: auto;
            left: auto;
            z-index: auto;
    
            width: 350px;
            height: auto;
        }
    
        main {
            flex: 1;
        }
    }
}
@media (min-width: $xl) {}
@media (min-width: $xxl) {}
@media (min-width: $xxxl) {}