#footer {
    .copyright {
        padding: 1rem;

        text-align: center;
        font-size: .875rem;
        color: var(--slate-500);
        span {
            margin-right: .5rem;
            i {        margin-top: 1rem;
                margin-right: .25rem;
            }
        }
    }
}