#stager {
    .default {
        height: 100%;
        main {
            .item-container {
                padding: 1rem;
            }
            padding-bottom: 2rem;
        }
        aside {
            background-color: var(--slate-300);
            .item-container {
                padding: 1rem;
                .item-sub-container {
                    padding: .5rem;
                }
            }
        }
    }
}


@media (min-width: $sm) {

    #stager {
        .default {
            main {
                .item-container {
                    padding: 1rem 2rem 1rem;
                }
            }
        }
    }
}

@media (min-width: $md) {

    #stager {
        .default {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: flex-start;
    
            main {
                flex: 1;
            }
            aside {
                width: 250px;
    
                .item-container {
                    position: sticky;
                    top: 60px;
                }
            }
        }
    }
}

@media (min-width: $lg) {

    #stager {
        .default {
            aside {
                width: 300px;
            }
        }
    }
}
