:root[data-theme="light"] {

    --primary: var(--blue-600);

    --secondary: var(--red-600);

    --body-bg: var(--slate-000);
    --body-bd: var(--slate-300);
    --body-ft: var(--slate-800);
    --body-ft-hover: var(--primary);

    --header-bg: var(--white);

    --stager-bg: var(--slate-100);
    --stager-bg-light: var(--slate-000);

    --footer-bg: var(--header-bg);
    --footer-ft: var(--slate-600);
}

